@media (prefers-color-scheme: dark) { 
  :root {
    /* CSS HSL */
    --pale-dogwood: hsla(15, 87%, 85%, 1);
    --almond: hsla(32, 42%, 83%, 1);
    --honeydew: hsla(139, 27%, 82%, 1);
    --aquamarine: hsla(156, 61%, 77%, 1);
    --outer-space: hsla(210, 10%, 32%, 1);
  
    --background-color: #222222;
    --text-color: #aaaaaa;
    --semi-light-text-color: #cccccc;
  
    --primary-color: var(--pale-dogwood);
    --secondary-color: var(--almond);
  
    --midground-color: #333333;
    --foreground-color: #393939;
  
    --general-border-radius: 5px;
    --general-padding: 5px;
  }
}

@media (prefers-color-scheme: light){
  :root {
    /* CSS HSL */
    --pale-dogwood: hsla(15, 50%, 70%, 1);
    --almond: hsla(32, 25%, 60%, 1);
    --honeydew: hsla(139, 20%, 60%, 1);
    --aquamarine: hsla(156, 45%, 50%, 1);
    --outer-space: hsla(210, 10%, 50%, 1);
  
    --background-color: #f7f7f7;
    --text-color: #666666;
    --semi-light-text-color: #999999;
  
    --primary-color: var(--pale-dogwood);
    --secondary-color: var(--almond);
  
    --midground-color: #f2f2f2;
    --foreground-color: #f7f7f7;
  
    --general-border-radius: 5px;
    --general-padding: 5px;
  }  
}




/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
*::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* background of the scrollbar except button or resizer */
*::-webkit-scrollbar-track {
  background-color: transparent;
}

/* scrollbar itself */
*::-webkit-scrollbar-thumb {
  background-color: var(--background-color);
  border-radius: 10px;
  border: 1px solid var(--midground-color);
}

/* set button(top and bottom of the scrollbar) */
*::-webkit-scrollbar-button {
  display:none;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  /* background-color: var(--background-color); */
  font-family: 'JetBrains Mono', monospace;  
  font-size: 1.2em;
  margin: 0;
  padding: 0;

  background-color: var(--background-color);

  width: 100vw;
  height: 100vh;
}

.body{
  --grid-gap: 10px;

  position: absolute;

  /* account for gap using calc */
  width: 100vw;
  height: calc(100vh - (var(--general-padding) + 30px));

  bottom: 0;

}